.button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    height: 30px;
    margin: 5px 0;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px purple;
}

.button:hover {
    background-color: purple;
    color: white;
}